# flake 8 is just a linting tool used to check grammer of code eg: space after , and unused variables etc

[flake8]

max-line-length = 120

# files to ignore while linting

exclude = 
  migrations,
  __pycache__,
  manage.py,
  settings.py